MONGODB_URI=your_mongodb_uri_here
MONGODB_DB_NAME=your_database_name_optional
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
MAILGUN_SMTP_HOST=smtp.mailgun.org
MAILGUN_SMTP_PORT=587
MAILGUN_SMTP_USER=your_mailgun_smtp_username
MAILGUN_SMTP_PASS=your_mailgun_smtp_password
FROM_EMAIL=noreply@example.com
CRON_SECRET=your_cron_secret_here
